{% extends "layout.html" %}
{% block content %}

<style>
.title {display:inline-block; width:90px}
.form .form-control {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
}

.row {padding-top:5px}

</style>

<div class="container col-sm-9" >
        <form id="PlanForm" class="form"  role="form" action="/plan/info/0" method="post">

            <div class="row">
                <div class="form-group" hidden>
                    <label class="" for="name">id:</label>
                    <input type="text" class="form-control" id="id" name="id" {% if form.id.data %} value={{form.id.data}} {%else%} value=0 {%endif%}>
                </div>

                <div class="col-sm-2">
                    <div class="title">名称:</div>
                    <input type="text" class="form-control col-sm-8" id="name" name="name" {% if form.name.data %} value="{{form.name.data}}"{%endif%}>
                </div>
                <div class="col-sm-2">
                    <div class="title">买最高价:</div>
                    <input type="text" class="form-control col-sm-8" id="top" name="top" {% if form.top.data %} value="{{form.top.data}}"{%endif%}>
                </div>
                <div class="col-sm-2">
                    <div class="title">买最低价:</div>
                    <input type="text" class="form-control col-sm-8" id="bottom" name="bottom" {% if form.bottom.data %} value="{{form.bottom.data}}"{%endif%}>
                </div>
                <div class="col-sm-2">
                    <div class="title">起始买价:</div>
                    <input type="text" class="form-control col-sm-8" id="buy_start" name="buy_start" {% if form.buy_start.data %} value="{{form.buy_start.data}}"{%endif%}>
                </div>
                <div class="col-sm-2">
                    <div class="title">起始卖价:</div>
                    <input type="text" class="form-control col-sm-8" id="sell_start" name="sell_start" {% if form.sell_start.data %} value="{{form.sell_start.data}}"{%endif%}>
                </div>
                <div class="col-sm-2">
                    <div class="title">起始股数:</div>
                    <input type="text" class="form-control col-sm-8" id="top_share" name="top_share" {% if form.top_share.data %} value="{{form.top_share.data}}"{%endif%}>
                </div>
          </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="title">价格下降:=</div>
                    <input type="text" class="form-control col-sm-8" id="reduce_rate" name="reduce_rate" {% if form.reduce_rate.data != None %} value="{{form.reduce_rate.data}}"{%endif%}>
                </div>
                <div class="col-sm-2" >
                    <div class="title">股数增长:=</div>
                    <input type="text" class="form-control col-sm-8" id="increase_rate" name="increase_rate" {% if form.increase_rate.data != None %} value="{{form.increase_rate.data}}"{%endif%}>
                </div>

                <div hidden>
                    <input type="text" class="form-control col-sm-8" id="profit_rate" name="profit_rate"  value=0>
                    <input type="text" class="form-control col-sm-8" id="count_amount" name="count_amount" value=20>

                </div>

                <div class="col-sm-2" >
                    <button type="submit" class="btn btn-primary btn-default">保存</button>
                    <button type="button" class="btn btn-primary btn-default" onclick=ergodic(this)>穷举策略</button>
                </div>
            </div>
        </form>


    <div class="row">
        {% if plan %}
         <table class="table">
        <thead>
        <tr>
          <th>利润: {{plan.profit_rate *100}}% 总资金: {{plan.count_amount}}</th>
        </tr>
        </thead>
        <tbody>
        {% for info in plan.plan_info %}
          <tr>
            <td>{{ info}}</td>

          </tr>
        {%endfor%}

        </tbody>
      </table>

        {%endif%}
    </div>

</div>

{% endblock %}

{% block js %}
 <script type="text/javascript">

      function ergodic(x){

        $("#PlanForm").attr("action","/plan/ergodic");
        $("#PlanForm").submit();
      }


 </script>

    {% endblock %}